.dropdown-toggle::after {
    display: none; /* Cache la petite flèche moche de base */
}

.dropdown-menu {
    background-color: var(--card-bg) !important;
    color: var(--text-color) !important;
}

.dropdown-item {
    padding: 8px 15px;
    font-size: 0.9rem;
    transition: 0.2s;
}

.dropdown-item:hover {
    background-color: #f8f9fa;
    color: var(--bibli-green) !important;
}

body.dark-mode .dropdown-item:hover {
    background-color: #333;
    color: #93c47d !important;
}

.dropdown-item.text-danger:hover {
    background-color: #ffe5e5 !important;
}